<%= link_to "Songs", songs_path %>
<ul>
  <li><%= link_to "All", songs_path %></li>
  <li><%= link_to "Recent", recent_songs_path %></li>
  <li><%= link_to "Favorites", favorites_songs_path %></li>
  <li><%= link_to "Upload", new_song_path %></li>
  <li><%= link_to "Copy", webcopy_songs_path %></li>
</ul>

