<table width=100%>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Artist</th>
    <th>Album</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% idx = 0 %>
<% songs.each_with_index do |song,i| %>
  <% if song.has_media? %>
    <tr class='songs <%= (i%2==0) ? "even-song" : "odd-song" %>' id='song_<%=idx%>'>
      <td class='c1'>
        <%= jplayer_play_index(idx) %>
        <% idx += 1 %>
  <% else %>
    <tr class='songs <%= (i%2==0) ? "even-song" : "odd-song" %>'>
      <td class='c1'>
  <% end %>
    </td>
    <td class='c2'><%= link_to song.name, song %></td>
    <td class='c3'><%= song_artist_link( song ) %></td>
    <td class='c4'><%= song_album_link( song ) %> (<%= song.disk ? "D#{song.disk}" : "" %>T<%=song.track%>)</td>
    <td class='c5'>&nbsp;</td>
    <td class='c6'><%= rating( song ) %></td>
    <td class='c7'><%= rate_up(song) %><br/><%= rate_down(song) %></td>
    <td class='c8'><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= render 'shared/player', :songlist => songs %>
