<% @title = "Song Data: #{@song.artist.name} - #{@song.name}" %>

<% code = capture do %>
  <form id='add_to_playlist' method='post' action='<%= playlist_entries_path %>'>
    <input type='hidden' name='song_id' value='<%= @song.id %>' />
    <%= select_tag( "playlist_id", options_for_select( 
      Hash[ *Playlist.find(:all).map {|playlist| [playlist.title,playlist.id] }.flatten] 
    )) %>
    <a href='#' onclick='$("#add_to_playlist").submit()'>Add to playlist</a>
  </form>
<% end %>

<% @page_actions = [
  lambda { link_to 'Edit', edit_song_path(@song) },
  lambda { code }
] %>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Artist:</b>
  <%= song_artist_link( @song ) %>
</p>

<p>
  <b>Album:</b>
  <%= song_album_link( @song ) %>
</p>

<p>
  <b>Album Artist:</b>
  <%= @song.album_artist_name %>
</p>

<p>
  <b>Download link:</b>
  <a href="/media/<%= @song.media_filename %>">file</a>
</p>

<p>
  <b>License:</b>
  <%= @song.license %>
</p>

<h2>Media Tags</h2>
<p>
  <ul>
  <% @song.id3_tags.each do |tag| %>
    <li><%= tag[0] %>: <%= tag[1] %></li>
  <% end %>
  </ul>
</p>

<h2>Ongaku Tags</h2>
<ul>
  <% @song.tags.each {|key,value| %>
    <li><%= key %> = <%= value %></li>
  <% } %>
</ul>

<%= render_plugable( "songs/show" ) %>

<%= render "shared/player" %>

