<% @title = "Song Data: #{@song.artist.name} - #{@song.name}" %>

<% code = capture do %>
  <% Playlist.all.each_with_index {|playlist,i| %>
    <form id='add_to_playlist_<%=i%>' method='post' action='<%= playlist_entries_path %>'>
      <input type='hidden' name='song_id' value='<%= @song.id %>' />
      <input type='hidden' name='playlist_id' value='<%= playlist.id %>' />
      <a href='#' onclick='$("#add_to_playlist_<%=i%>").submit()'>Add to <%= playlist.title %></a>
    </form>
  <% } %>
<% end %>

<% @page_actions = [
  lambda { link_to 'Edit', edit_song_path(@song) },
  :separator,
  lambda { code }
] %>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Artist:</b>
  <%= song_artist_link( @song ) %>
</p>

<p>
  <b>Album:</b>
  <%= song_album_link( @song ) %>
</p>

<p>
  <b>Album Artist:</b>
  <%= @song.album_artist_name %>
</p>

<p>
  <b>Download link:</b>
  <a href="/media/<%= @song.media_filename %>">file</a>
</p>

<p>
  <b>License:</b>
  <%= @song.license %>
</p>

<h2>Media Tags</h2>
<p>
  <ul>
  <% @song.id3_tags.each do |tag| %>
    <li><%= tag[0] %>: <%= tag[1] %></li>
  <% end %>
  </ul>
</p>

<h2>Ongaku Tags</h2>
<ul>
  <% @song.tags.to_a.sort.each {|key,value| %>
    <li><%= key %> = <%= value %></li>
  <% } %>
</ul>
<form id='add_tag' method='post' action='<%= song_set_tag_path(@song) %>'>
  <div class='float-left'>
    <b>Tag</b><br/>
    <td><input type='text' name='key' />
  </div>
  <div class='float-left'>
    <b>Value</b><br/>
    <input type='text' name='value' />
    <a href='#' onclick='$("#add_tag").submit();return false;'>Add Tag</a>
  </div>
</form>

<%= render_plugable( "songs/show" ) %>

<%= render "shared/player" %>

