<h1>Listing albums</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Songs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.title %></td>
    <% if album.artist %>
      <td><%= link_to album.artist.name, album.artist %></td>
    <% else %>
      <td>[ no artist ]</td>
    <% end %>
    <td><%= album.songs.size %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
