<% body = yield %>
<!DOCTYPE html>
<html>
<head>
  <% if @title %>
    <title>Ongaku Music Server - <%= @title %></title>
  <% else %>
    <title>Ongaku Music Server</title>
  <% end %>
  <%= stylesheet_link_tag    "scaffold" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='jplayer'></div>
<% if @title %>
  <h1><%= @title %></h1>
<% else %>
  <h1>Ongaku Music Server</h1>
<% end %>
<div>
<%= render 'shared/nav' %>
</div>
<div style='float:clear;'></div>
<p id="notice"><%= notice %></p>

<%= body %>

</body>
</html>
