<% include_javascript("application") %>
<% include_stylesheet("scaffold") %>
<% body = yield %>
<!DOCTYPE html>
<html>
<head>
  <% if @title %>
    <title>Ongaku Music Server - <%= @title %></title>
  <% else %>
    <title>Ongaku Music Server</title>
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <% stylesheet_links.each {|sheet| %>
    <%= stylesheet_link_tag sheet %>
  <% } %>
  <% javascript_links.each {|script| %>
    <%= javascript_include_tag script %>
  <% } %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='jplayer'></div>
<% if @title %>
  <h1><%= @title %></h1>
<% else %>
  <h1>Ongaku Music Server</h1>
<% end %>
<ul class='menu'>
  <% nav_items.each {|item| %><li><%= render item %></li><% } %>
  <% if @page_actions %>
    <li><a href='#'>Actions</a>
      <ul>
        <% @page_actions.each {|action| %><li><%= action.call() %></li><% } %>
      </ul>
    </li>
  <% end %>
</ul>
<div style='float:clear;'></div>
<p id="notice"><%= notice %></p>

<%= body %>

</body>
</html>
